.clear {
    clear: both;
}
.shar {
    width: 270px;
    height: 210px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.image-box {
    float: left;
}
.size {
    margin-right: 30px;
}

/*section 2 */
.section-bg {
    background-color: lightgray;
}
.left-block {
    width: 570px;
    background-color: #F2F2F2;
    float: left;
}
.right-block {
    width: 570px;
    background-color: lightblue;
    float: right;
}
.image-block {
    float: left;
}
.text-block {
    width: 400px;
    float: left;
}
.read {
    float: right;
    margin-right: 9px;
}
/*id*/
#active {

}